# PrettyTable - красивый вывод таблицы в терминал или текстовый файл
* pip install PrettyTable

In [1]:
from prettytable import PrettyTable

In [3]:
# Способ 1
ta = PrettyTable()
ta.field_names = ["Фамилия", "Имя", "Возраст", "ЗП"]
ta.add_row(["Иванов", "Иван", 19, 50_000])
ta.add_row(["Петров", "Петр", 28, 120_000])
ta.add_row(["Сидоров", "Сидр", 16, 500])
print(ta)

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    28   | 120000 |
| Сидоров | Сидр |    16   |  500   |
+---------+------+---------+--------+

In [5]:
# Способ 2
ta = PrettyTable()
ta.field_names = ["Фамилия", "Имя", "Возраст", "ЗП"]
ta.add_rows([
  ["Иванов", "Иван", 19, 50_000],
  ["Петров", "Петр", 28, 120_000],
  ["Сидоров", "Сидр", 16, 500]
])
ta

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    28   | 120000 |
| Сидоров | Сидр |    16   |  500   |
+---------+------+---------+--------+

In [6]:
ta.get_string()

'+---------+------+---------+--------+\n| Фамилия | Имя  | Возраст |   ЗП   |\n+---------+------+---------+--------+\n|  Иванов | Иван |    19   | 50000  |\n|  Петров | Петр |    28   | 120000 |\n| Сидоров | Сидр |    16   |  500   |\n+---------+------+---------+--------+'

In [9]:
ta[-1]

+---------+------+---------+-----+
| Фамилия | Имя  | Возраст |  ЗП |
+---------+------+---------+-----+
| Сидоров | Сидр |    16   | 500 |
+---------+------+---------+-----+

In [10]:
ta[:-1]

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    28   | 120000 |
+---------+------+---------+--------+

In [11]:
ta_2 = ta
ta_3 = ta[:-1]
ta_3

+---------+------+---------+--------+
| Фамилия | Имя  | Возраст |   ЗП   |
+---------+------+---------+--------+
|  Иванов | Иван |    19   | 50000  |
|  Петров | Петр |    28   | 120000 |
+---------+------+---------+--------+

In [12]:
print(id(ta))
print(id(ta_2))
print(id(ta_3))

2970531793296
2970531793296
2970553944976

In [13]:
ta.align = 'r'
print(ta)

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
|  Иванов | Иван |      19 |  50000 |
|  Петров | Петр |      28 | 120000 |
| Сидоров | Сидр |      16 |    500 |
+---------+------+---------+--------+

In [15]:
ta.align["Фамилия"] = 'l'
ta.align["Возраст"] = 'c'
print(ta)

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Иванов  | Иван |    19   |  50000 |
| Петров  | Петр |    28   | 120000 |
| Сидоров | Сидр |    16   |    500 |
+---------+------+---------+--------+

In [17]:
print(ta.get_string(sortby = "Возраст", reversesort = True))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Петров  | Петр |    28   | 120000 |
| Иванов  | Иван |    19   |  50000 |
| Сидоров | Сидр |    16   |    500 |
+---------+------+---------+--------+

In [19]:
# Ограничение по столбцам
print(ta.get_string(fields = ["Имя", "Возраст"]))

+------+---------+
|  Имя | Возраст |
+------+---------+
| Иван |    19   |
| Петр |    28   |
| Сидр |    16   |
+------+---------+

In [20]:
# Ограничение по строкам
print(ta.get_string(start = 1, end = 3))

+---------+------+---------+--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Петров  | Петр |    28   | 120000 |
| Сидоров | Сидр |    16   |    500 |
+---------+------+---------+--------+

In [21]:
print(ta.get_csv_string())

Фамилия,Имя,Возраст,ЗП
Иванов,Иван,19,50000
Петров,Петр,28,120000
Сидоров,Сидр,16,500

In [22]:
print(ta.get_html_string())

<table>
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Возраст</th>
            <th>ЗП</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Иванов</td>
            <td>Иван</td>
            <td>19</td>
            <td>50000</td>
        </tr>
        <tr>
            <td>Петров</td>
            <td>Петр</td>
            <td>28</td>
            <td>120000</td>
        </tr>
        <tr>
            <td>Сидоров</td>
            <td>Сидр</td>
            <td>16</td>
            <td>500</td>
        </tr>
    </tbody>
</table>

In [24]:
print(ta.get_json_string(ensure_ascii = False))

[
    [
        "Фамилия",
        "Имя",
        "Возраст",
        "ЗП"
    ],
    {
        "Возраст": 19,
        "ЗП": 50000,
        "Имя": "Иван",
        "Фамилия": "Иванов"
    },
    {
        "Возраст": 28,
        "ЗП": 120000,
        "Имя": "Петр",
        "Фамилия": "Петров"
    },
    {
        "Возраст": 16,
        "ЗП": 500,
        "Имя": "Сидр",
        "Фамилия": "Сидоров"
    }
]

In [25]:
ta.top_junction_char = '*'
print(ta)

+---------*------*---------*--------+
| Фамилия |  Имя | Возраст |     ЗП |
+---------+------+---------+--------+
| Иванов  | Иван |    19   |  50000 |
| Петров  | Петр |    28   | 120000 |
| Сидоров | Сидр |    16   |    500 |
+---------+------+---------+--------+

In [ ]:
# Стили
# ta.set_style(PrettyTable.)
# print(ta)